.form-container-hotels {
  margin: 30px auto;
  width: 1000px;
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close-btn-hotels {
  position: absolute;
  top: 1rem;
  left: 2rem;
  font-size: 1.5rem;
  z-index: 1;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.form-content-left-hotels {
  border-radius: 10px 0 0 10px;
  position: relative;
  top: 4.5rem;
}

.form-success-hotels {
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
  color: #fff;
}

.form-content-right-hotels {
  border-radius: 0 10px 10px 0;
  position: relative;
}

.form-hotels {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-content-left-hotels h1 {
  font-size: 2rem;
  text-align: start;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 21rem;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.form-content-left-hotels h2 {
  font-size: 2rem;
  text-align: start;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 24.5rem;
  left: 22rem;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.link-hotels {
  font-size: 2rem;
  text-align: start;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
  text-decoration: none;

}

.separator {
  font-size: 2rem;
  text-align: start;
  width: 30%;
  height: 30%;
  position: absolute;
  top: 23rem;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 80%;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}

.form-inputs-hotels {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-inputs-hotels p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label-hotels {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #fff;
}

.form-input-hotels {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-input-hotels::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn-hotels {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(170, 140, 70) 0%,
    rgb(252, 223, 104) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn-hotels:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(200, 180, 100) 0%,
    rgb(252, 223, 104) 100%
  );
  transition: all 0.3s ease-out;
}

.form-input-login-hotels {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #fff;
  width: 80%;
  text-align: center;
}

.form-input-login-hotels a {
  text-decoration: none;
  color: #fcdf68;
  font-weight: 600;
}
